@font-face {
    font-family: Futura;
    src: url("../assets/fonts/futura.ttf")
}

body {
    font-family: Futura;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
    background-color: rgba(0, 0, 0, 0.6);
}

body.dark{
    background-image: radial-gradient(circle, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.6) 100%), url('../assets/images/backD.jpg');
}

body.light{
    background-image: radial-gradient(circle, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.6) 100%), url('../assets/images/backL.jpg');
}

.text-color.dark{
    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px #000;
}

.text-color.light{
    color: rgb(0, 0, 0);
    text-shadow: 0 0 10px rgb(255, 255, 255);
}

table.dark{
    border-color: #fff;
}

table.light{
    border-color: rgb(0, 0, 0);
}

thead.dark{
    background-color: rgba(69, 69, 69, 0.251);
}

thead.light{
    background-color: rgba(197, 197, 197, 0.5);
}

tbody.dark{
    background-color: rgba(0, 0, 0, 0.5);
}

tbody.light{
    background-color: rgba(255, 255, 255, 0.7);
}

.card-box {
    position: relative;
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid #f8f9fa !important;
    border-radius: .5rem !important;
    background-color: rgba(0, 0, 0, 0.7);
}

.card-box .card-box-title{
    color: white;
    font-size: 1.75rem;
}

.card-box .card-box-caption {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    opacity: 0;
    color: #fff;
    background: rgba(0, 0, 0, 0.8);;
    transition: opacity 0.25s ease;
    text-align: center;
}

.card-box .card-box-caption .description-head {
    font-size: 1.25rem;
}

.card-box .card-box-caption .description-body {
    font-size: 1.5rem;
}

.card-box:hover .card-box-caption {
    opacity: 1;
}

.default{
    text-shadow: 0 0 10px #ffffff;
}

.nubank{
    text-shadow: 0 0 10px #a119eb;
}

.inter{
    text-shadow: 0 0 10px #ffa600;
}

.caixa{
    text-shadow: 0 0 10px #012bff;
}

.bb{
    text-shadow: 0 0 10px #fff700;
}

.picpay{
    text-shadow: 0 0 10px #33ff0a;
}

.wallet{
    text-shadow: 0 0 10px #c75d16;
}

.next{
    text-shadow: 0 0 10px #33ff0a;
}

.will{
    text-shadow: 0 0 10px #fff700;
}

.modal .modal-dialog .modal-content {
	background-color: #000000d9;
	color: rgb(255, 255, 255);
	border-color: #ffffff;
}

.label-custom{
	font-family: Arial, Helvetica, sans-serif;
	font-size: .8em;
	color:white;
	padding: .75rem .45rem
}

.form-custom{
	color:white;
	background-color: rgba(0, 0, 0, 0.8);
}

.form-custom:focus{
	color:white;
	background-color: rgba(30, 30, 30, 0.8);
}

.form-custom:disabled{
	color:white;
	background-color: rgba(61, 61, 61, 0.8);
}

.btn-light:hover{
    background-color: #d4d7da;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.green{
    background-color: rgba(11, 99, 3, 0.3)!important;;
}

.red{
    background-color: rgba(99, 3, 3, 0.3)!important;;
}

.h-25{
    height: 25%!important;
}

@media (min-width: 992px){
    .h-lg-50{
        height: 50%!important;
    } 
}